.pagination-container {
    text-align: center;
    margin: 0px 0 20px 0;
}
.pagination-number {
    margin: 30px 8px;
    font-weight: 600;
    opacity: 0.4;
}
.pagination-number.active {
    opacity: 1;
}
.pagination-number:hover {
    opacity: 1;
}
.pagination-button {
    padding: 4px;
    background-color: var(--color-red);
    border-radius: 2px;
    border: none;
    margin: 30px 8px;
    font-weight: 600;
}
.show-comment .pagination-container {
    margin: 15px 0 15px 0;
}
.show-comment .pagination-pagi {
    justify-content: flex-end;
}
.show-comment .pagination-number,
.show-comment .pagination-button {
    margin: 20px 8px;
}
.pagination-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
