.about-wrapper {
    padding: 30px 0;
}

.disocunt-product {
    font-weight: 500;
    color: red;
    margin-left: 10px;
}

.default-layout-order-wrapper {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 30px 0;
    background-color: rgb(245, 245, 245);
}

.about-container {
    padding: 20px;
    border: 1px solid #e3e5ec;
}

.about-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.about-list {
    list-style: none;
}

.about-item {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
}

.content-title {
    margin-bottom: 25px;
    font-size: 30px;
}

.content-desc {
    margin: 0 0 10px 0;
    line-height: 21px;
    font-size: 14px;
}

.about-underlined {
    text-decoration: underline;
    margin-right: 5px;
}

.policy-service-mobile {
    display: flex;
}

.default-layout-order-container-left {
    /* flex: 1; */
    margin-right: 30px;
}

.amount-order {
    position: absolute;
    font-size: 12px;
    padding: 3px 8px;
    background: red;
    border-radius: 50%;
    top: -12px;
    right: -20px;
    color: white;
}

.default-layout-order-container-left-info {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.default-layout-order-img-user {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.default-layout-order-change-info-user {
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.default-layout-order-title-user {
    font-size: 15px;
}

.default-layout-order-change-info {
    cursor: pointer;
    color: #9b9b9b;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.default-layout-order-more-items {
    margin-top: 20px;
}

.default-layout-order-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 7px 0;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 16px;
}

.default-layout-order-item:hover {
    color: #ee4d2d;
}

.default-layout-order-img-item {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.default-layout-order-container-right {
    background-color: white;
    border-radius: 3px;
    /* padding: 0 30px; */
    padding: 0 30px 10px 30px;
}

.default-layout-order-manage-user {
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
}

.default-layout-order-select-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #363636;
    position: relative;
}

.default-layout-order-account {
    margin-left: 40px;
}

.default-layout-order-account-frame {
    padding: 6px 0;
    font-size: 15px;
    line-height: 15px;
}

.default-layout-order-account-link {
    text-decoration: none;
    color: rgb(105, 105, 105);
    cursor: pointer;
}

.default-layout-order-account-link.active {
    color: rgb(240, 52, 52);
}
