.order-title-relate {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.enviroment-mobile {
    margin-bottom: 15px;
}
.order-details-title,
.order-details-method,
.order-details-id,
.order-details-total-prices,
.order-details-status {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.order-details-status {
    font-size: 17px;
    font-weight: 500;
}
.order-details-status-service,
.order-details-address {
    width: 50%;
}
.order-details-total-prices {
    justify-content: space-between;
    padding-top: 5px;
}
.order-detaild-sb {
    justify-content: space-between;
}
.order-detail-return-icon {
    font-size: 28px !important;
    margin-right: 25px;
}
