/*  */
.user-profile-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 600;
    background-color: rgba(0, 0, 0, 0.4);
}

.user-profile-noti {
    padding: 0 20px 20px 20px;
    background-color: #fff;
    width: 300px;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-noti-img {
    width: 130px;
    background: white;
    color: #989595;
}

.user-profile-text-noti {
    font-size: 20px;
    font-weight: 500;
}
