.email-verify-container {
    background-color: white;
    padding: 100px;
    border-left: 1px solid #ededed;
}
.email-verify-title {
    font-size: 45px;
    font-weight: 600;
}
.email-verify-title::after {
    margin: 20px auto 0;
    content: '';
    display: block;
    background: #000;
    width: 60px;
    height: 4px;
}
.email-verify-form {
    flex-wrap: wrap;
}
.email-verify-form input[type='email'] {
    width: 80%;
    height: 55px;
    border: 1px solid #ededed;
    background-color: #ededed;
    color: #000000;
    padding: 0 20px;
    font-weight: 500;
    -webkit-appearance: none;
    outline: none;
}
.register_form input[type='email']:focus {
    background: #fff;
    border-color: #ededed;
}
.email-verify-input::placeholder {
    color: #000000;
    font-size: 14px;
}
.email-verify-agreement {
    font-size: 12px;
    margin: 20px 0;
}
.email-verify-button {
    outline: none;
    width: fit-content;
    padding: 0 30px;
    height: 55px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    background-color: #d1d1d1;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    letter-spacing: 1px;
}
.email-verify-button:disabled {
    cursor: not-allowed;
}
.email-verify-button:hover {
    color: #000000;
    background-color: transparent;
    border: 1px solid #d1d1d1;
}
.email-verify-span {
    padding: 10px 0;
    font-size: 14px;
    color: red;
    font-weight: 500;
}
.email-verify-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
}
.email-verify-text {
    white-space: pre;
    padding-right: 4px;
    color: rgba(0, 0, 0, 0.26);
    text-align: center;
    width: 100%;
}
.email-verify-form-input {
    width: 100%;
}
.email-verify-text-line {
    color: #ee4d2d;
    margin-left: 7px;
}
.email-verify-main {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.email-verify-return-home {
    text-decoration: none;
    color: black;
    margin-top: 30px;
}
.email-verify-return-home-text {
    font-size: 14px;
    margin-left: 15px;
}
.email-verify-return-home-icon {
    font-size: 25px !important;
}
