.wait-purchase-container {
    margin-top: 20px;
    height: 100%;
}

.wait-purchase-no-order {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.wait-purchase-details-product {
    display: flex;
    align-items: center;
}

.wait-purchase-img {
    width: 150px;
}

.wait-purchase-info {
    flex: 1;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

.wait-purchase-name-size {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
}

.wait-purchase-price-quanti {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
}

.wait-purchase-block {
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    font-size: 16px;
}
.wait-purchase-status {
    margin-left: 150px;
}

.wait-purchase-cancel-order {
    padding: 10px 15px;
    background: red;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.wait-purchase-info-block {
    display: flex;
    justify-content: space-around;
}
.wait-purchase-product-order {
    margin: 10px 0;
    padding: 20px 0px 10px 0;
    border-bottom: 1px solid #ccc;
}
