.new-password-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
}

.new-password-wrapper {
    background-color: white;
    padding: 25px;
    width: 27%;
    border-radius: 3px;
}

.new-password-title {
    font-size: 24px;
    font-weight: 500;
}

.new-password-form {
    display: flex;
    flex-wrap: wrap;
}

.new-password-input {
    flex: 1;
    min-width: 40%;
    padding: 10px;
}

.new-password-agreement {
    font-size: 12px;
    margin: 20px 0;
}

.new-password-button {
    font-weight: 500;
    width: 100%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 3px;
}

.new-password-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.new-password-span {
    padding-bottom: 20px;
    font-size: 14px;
    color: red;
    font-weight: 500;
}

.new-password-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: white;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding: 0 275px;
}

.new-password-header-container {
    display: flex;
    align-items: center;
}

.new-password-header-img {
    height: 38px;
    cursor: pointer;
}

.new-password-text {
    white-space: pre;
    padding-right: 4px;
    color: rgba(0, 0, 0, 0.26);
    text-align: center;
    width: 100%;
}

.new-password-form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new-password-block-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.new-password-icon-left {
    position: absolute;
    font-size: 28px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
