.categories-item-container {
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
}

.categories-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories-item-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories-item-button {
    border: none;
    padding: 15px;
    color: #e01010;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
}