.cart-wrapper {
    padding: 35px 0 0 0;
}
.cart-title {
    text-align: center;
    font-size: 30px;
    margin: 0 0 10px;
}
.cart-top-text {
    margin: 0 0 10px 0;
    line-height: 21px;
    text-align: center;
}
.cart-bottom {
    padding-top: 40px;
}
.cart-info {
    margin-right: 20px;
}
.cart-product {
    position: relative;
    justify-content: space-between;
}
.cart-product-detail {
    flex: 2;
}
.cart-image {
    width: 180px;
    height: 180px;
    margin: 20px 10px;
}
.cart-detail {
    justify-content: space-evenly;
    padding: 20px;
}
.cart-product-name {
    font-size: 20px;
    font-weight: 600;
}
.cart-product-id del {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 600;
}
/*  */
.cart-product-size {
    font-size: 18px;
}
.cart-price-detail {
    flex: 1;
    padding: 20px;
    justify-content: space-around;
}
.cart-product-amount-container {
    margin-top: 5px;
    width: fit-content;
}
.cart-product-amount {
    padding: 0;
    font-size: 17px;
    background: #ededed;
    border: 1px solid #dadbdd;
    border-radius: 0;
    width: 35px;
    height: 30px;
}
.cart-product-price {
    font-size: 28px;
    font-weight: 600;
}
.cart-summary {
    flex: 1;
    height: fit-content;
    border: 1px solid #e1e3e4;
    padding: 20px 20px 15px 20px;
    border-radius: 3px;
    margin-left: 20px;
}
.cart-summary-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.cart-summary-item-text {
    margin: 0 0 10px 0;
    line-height: 21px;
}
.cart-summary-item-text1 {
    color: #5c5c5c;
    font-weight: 600;
    padding: 15px 0;
    border-top: 1px dotted #dfe0e1;
    border-bottom: 1px dotted #dfe0e1;
    margin-bottom: 15px;
    justify-content: space-between;
}
.cart-summary-item-price {
    float: right;
    color: red;
    font-size: 24px;
}
.cart-button {
    width: 100%;
    background-color: #e00707;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 2px;
}
.cart-delete-product:hover {
    opacity: 0.7;
}
.cart-btn-add {
    width: 30px;
    background: white;
    height: 30px;
    border: 1px solid #dadbdd;
}
.cart-keep-shopping {
    margin: 15px 0 0;
    text-align: center;
}
.cart-policy {
    margin: 30px 0;
}
.cart-policy-list {
    padding: 0;
    list-style-type: none;
}
.cart-policy-item {
    /* display: flex; */
    line-height: 25px;
    position: relative;
    padding-left: 20px;
    overflow: hidden;
}
.cart-policy-title {
    margin-bottom: 10px;
    font-weight: 700;
    color: #666666;
}
.cart-product-price-mobile {
    margin: 15px 0;
    text-align: left;
    line-height: 21px;
    font-weight: 600;
    font-size: 13px;
}
.cart-product-price-mobile span {
    font-size: 16px;
    margin-left: 5px;
}
.hr {
    background-color: #ededed;
    border: none;
    height: 2px;
    position: absolute;
    top: 100%;
    width: 100%;
}
