.comment {
    padding: 0 0 35px 0;
}
.main-evaluate-comment {
    padding: 30px;
    border: 1px solid #f9ede5;
    margin: 15px 0;
    background-color: #fffbf8;
}
.main-evaluate-comment-left {
    margin-right: 30px;
}
.main-evaluate-comment-right {
    margin-left: 15px;
}
.main-evaluate-comment-right-option {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 35px;
    line-height: 35px;
    min-width: 110px;
    text-align: center;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    margin-right: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    text-transform: capitalize;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.main-evaluate-comment-right-option.option-active {
    border-color: var(--brand-primary-color, var(--color-red-comment));
    fill: var(--brand-primary-color, var(--color-red-comment));
    color: var(--brand-primary-color, var(--color-red-comment));
}
.main-evaluate-comment-title {
    font-size: 30px;
    color: var(--color-red-comment);
    padding-bottom: 10px;
    line-height: 24px;
}
.main-evaluate-comment-desc {
    font-size: 18px;
    margin-left: 5px;
    font-weight: 400;
}
.show-comment {
    background: #f7f6f6;
    padding: 0 30px;
}
.comment-title {
    font-size: 21px;
}
.not-evaluate-option {
    height: 400px;
}
.show-block-img-evaluate-image {
    height: 400px;
    margin-top: 5px;
}
.show-block-img-evaluate {
    position: relative;
}
.not-evaluate-option-text {
    margin-top: 25px;
}
.button-arrow-evaluate-left {
    background-color: #dcd9d9;
    width: 25px;
    height: 25px;
    line-height: 25px;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    outline: 0;
    margin-top: -12.5px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
    /* cursor: pointer; */
    position: absolute;
    top: 50%;
    font-size: 20px;
}
.button-arrow-evaluate-left-icon {
    height: 17px !important;
    width: 17px !important;
    color: rgba(0, 0, 0, 0.54);
    fill: currentColor;
    transition: width 0.1s cubic-bezier(0.4, 0, 0.6, 1) !important;
}
.show-block-img-evaluate:hover .button-arrow-evaluate-left {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
}
.show-block-img-evaluate:hover .button-arrow-evaluate-left-icon {
    height: 30px !important;
    width: 30px !important;
}
.buy {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.user-img {
    width: 45px;
    height: 45px;
}
.user-comment {
    padding-left: 10px;
}
.comment-block-img {
    margin-right: 15px;
}
.img-content.active-option-img {
    cursor: zoom-out;
    border: 1.5px solid var(--color-red-comment);
    padding: 3px;
}
.user-name {
    margin-bottom: 5px;
    line-height: 14px;
}
.evaluate {
    margin-bottom: 5px;
}
.day-comment {
    font-size: 13px;
    opacity: 0.8;
}
.comment-line {
    margin: 0 10px;
    font-size: 13px;
    opacity: 0.8;
}
.text-comment {
    margin: 12px 35px 12px 0;
    line-height: 16px;
}
.comment-img {
    margin: 10px 35px 10px 0;
}
.img-content {
    width: 72px;
    height: 72px;
    border: 1.5px solid #ccc;
    cursor: zoom-in;
}
.comment-container {
    padding: 20px 0;
}
.not-buy {
    background-color: rgb(192, 192, 220);
    margin-top: 30px;
}
.input-comment {
    margin-left: 15px;
}
.evaluate .MuiRating-iconFilled,
.evaluate .MuiRating-iconEmpty,
.evaluate .MuiRating-iconHover {
    font-size: 16px !important;
    margin-right: 2px;
}
.evaluate .MuiRating-iconFilled {
    color: var(--color-red-comment);
}
.main-evaluate-comment .MuiRating-iconFilled,
.main-evaluate-comment .MuiRating-iconEmpty,
.main-evaluate-comment .MuiRating-iconHover {
    font-size: 25px;
    margin-right: 0px;
}
.main-evaluate-comment .MuiRating-iconFilled {
    color: var(--color-red-comment);
}
.main-evaluate-comment-title-mobile {
    margin-left: 8px;
    display: none;
    font-size: 13px;
    color: var(--color-red-comment);
}
.main-evaluate-comment-title-mobile.evaluate-text-mobile {
    color: rgba(12, 12, 12, 0.54);
    text-transform: capitalize;
}
