.user-profile-container {
    display: flex;
    padding: 30px 150px 0 150px;
    /* height: 75vh; */
}

.user-profile-container-left {
    /* flex: 1; */
    margin-right: 30px;
}

.user-profile-info-user {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.user-profile-img-user {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.user-profile-change-info-user {
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-profile-title-user {
    font-size: 15px;
}

.user-profile-change-info {
    cursor: pointer;
    color: #9b9b9b;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.user-profile-more-item {
    margin-top: 20px;
}

.user-profile-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 7px 0;
    cursor: pointer;
    transition: all 0.3s;
}

.user-profile-item:hover {
    color: #ee4d2d;
}

.user-profile-img-item {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.user-profile-container-right {
    /* flex: 3; */
    background-color: white;
    border-radius: 3px;
    padding: 0 30px;
}

.user-profile-manage-user {
    border-bottom: 1px solid #efefef;
    padding: 18px 0;
}

.user-profile-file-title {
    font-size: 18px;
}

.user-profile-form {
    padding-top: 30px;
    /* display: flex; */
}

.user-profile-form-left {
    /* flex: 3; */
    padding-right: 50px;
}

.user-profile-form-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.user-profile-form-left {
    /* flex: 3; */
    padding-right: 50px;
}

.user-profile-form-key {
    width: 20%;
    text-align: right;
    color: rgba(85, 85, 85, 0.8);
    overflow: hidden;
}

.user-profile-form-value {
    width: 80%;
    padding-left: 20px;
    color: #333;
}

.user-profile-form-input {
    padding-left: 13px;
    align-items: center;
    display: flex;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
}

.user-profile-form-value-select {
    margin-right: 5px;
    width: 18px;
    cursor: pointer;
}

.user-profile-form-save-info {
    border: none;
    color: #fff;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
    margin-left: calc(20% + 20px);
    padding: 12px 25px;
    font-size: 15px;
    cursor: pointer;
}

.user-profile-form-save-info:hover {
    background: #f05d40;
}

.user-profile-drum {
    padding-bottom: 60px;
}

.user-profile-form-right {
    /* flex: 1; */
    border-left: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-img-user-current {
    width: 100px;
    border-radius: 50%;
    margin: 20px 0;
    cursor: pointer;
    height: 100px;
    object-fit: cover;
}

.user-profile-button-select-img {
    display: none;
}

.user-profile-note {
    color: #999;
    font-size: 14px;
    line-height: 22px;
}

.user-profile-btn-select {
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    background: #fff;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
    overflow: visible;
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
    display: flex;
    align-items: center;
    text-align: center;
}

.user-profile-btn-select:hover {
    background: rgba(0, 0, 0, 0.02);
}

.user-profile-btn-select:active {
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 1px 0px inset;
    background: rgba(0, 0, 0, 0.02);
}

.user-profile-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 600;
    background-color: rgba(0, 0, 0, 0.4);
}

.user-profile-noti {
    padding: 0 20px 20px 20px;
    background-color: #fff;
    width: 300px;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-noti-img {
    width: 130px;
    background: white;
    color: #989595;
}

.user-profile-text-noti {
    font-size: 20px;
    font-weight: 500;
}
.user-profile-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-form-value-label {
    margin-right: 30px;
    cursor: pointer;
}

.block-profile-form {
    background-color: #f5f5f5;
    height: calc(100vh - 112px);
}
