.forgot-password-title-text {
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 600;
}

.forgot-password-cancel {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-left: 20px;
}

.forgot-password-buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.forgot-password-desc-police {
    margin-top: 16px;
}
