/* .forgot-password-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
}

.forgot-password-wrapper {
    background-color: white;
    padding: 25px;
    width: 27%;
    border-radius: 3px;
}

.forgot-password-title {
    font-size: 24px;
    font-weight: 500;
}

.forgot-password-form {
    display: flex;
    flex-wrap: wrap;
}

.forgot-password-input {
    flex: 1;
    min-width: 40%;
    padding: 10px;
}

.forgot-password-agreement {
    font-size: 12px;
    margin: 20px 0;
}

.forgot-password-button {
    font-weight: 500;
    width: 100%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 3px;
}

.forgot-password-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.forgot-password-span {
    padding: 10px 0;
    font-size: 14px;
    color: red;
    font-weight: 500;
}

.forgot-password-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: white;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding: 0 275px;
}

.forgot-password-header-container {
    display: flex;
    align-items: center;
}

.forgot-password-header-img {
    height: 38px;
    cursor: pointer;
}

.forgot-password-text {
    white-space: pre;
    padding-right: 4px;
    color: rgba(0, 0, 0, 0.26);
    text-align: center;
    width: 100%;
}

.forgot-password-form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forgot-password-block-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.forgot-password-icon-left {
    position: absolute;
    font-size: 28px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
} */

.forgot-password-title-text {
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 600;
}

.forgot-password-cancel {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-left: 20px;
}

.forgot-password-buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.forgot-password-desc-police {
    margin-top: 16px;
}

/* .email-verify-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 100px;
    border-left: 1px solid #ededed;
}

.email-verify-wrapper {
}

.email-verify-title {
    font-size: 45px;
    font-weight: 600;
}

.email-verify-title::after {
    margin: 20px auto 0;
    content: '';
    display: block;
    background: #000;
    width: 60px;
    height: 4px;
}

.email-verify-form {
    display: flex;
    flex-wrap: wrap;
}

.email-verify-form input[type='email'] {
    width: 80%;
    height: 55px;
    border: 1px solid #ededed;
    background-color: #ededed;
    color: #000000;
    padding: 0 20px;
    font-weight: 500;
    -webkit-appearance: none;
    outline: none;
}

.register_form input[type='email']:focus {
    background: #fff;
    border-color: #ededed;
}


.email-verify-input::placeholder {
    color: #000000;
    font-size: 14px;
}

.email-verify-agreement {
    font-size: 12px;
    margin: 20px 0;
}

.email-verify-button {
    outline: none;
    width: fit-content;

    padding: 0 30px;
    height: 55px;
    line-height: 55px;

    font-weight: 600;

    color: #fff;
    background-color: #d1d1d1;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    letter-spacing: 1px;
}

.email-verify-button:disabled {
    cursor: not-allowed;
}

.email-verify-button:hover {
    color: #000000;
    background-color: transparent;
    border: 1px solid #d1d1d1;
}

.email-verify-span {
    padding: 10px 0;
    font-size: 14px;
    color: red;
    font-weight: 500;
}

.email-verify-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
}

.email-verify-header-container {
    display: flex;
    align-items: center;
}

.email-verify-header-img {
    height: 38px;
    cursor: pointer;
}

.email-verify-text {
    white-space: pre;
    padding-right: 4px;
    color: rgba(0, 0, 0, 0.26);
    text-align: center;
    width: 100%;
}

.email-verify-form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-verify-text-line {
    color: #ee4d2d;
    font-weight: 500;
    margin-left: 7px;
    cursor: pointer;
}

.email-verify-header-img {
    height: 38px;
    cursor: pointer;
}

.email-verify-header-title {
    font-size: 26px;
    padding-left: 25px;
}

.email-verify-header-help {
    color: red;
    font-weight: 500;
    cursor: pointer;
}

.email-verify-frame {
    overflow: hidden;
}

.email-verify-main {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.email-verify-return-home {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.email-verify-return-home-text {
    font-size: 14px;
    margin-left: 15px;
    font-weight: 500;
}

.email-verify-return-home-icon {
    font-size: 25px !important;
} */
