.frame-navbar {
    background-color: var(--color-white);
}
.navbar-menu-item-link {
    text-decoration: none;
    color: var(--color-black);
    justify-content: space-between;
}
.navbar-container {
    height: 64px;
    position: relative;
}
.navbar-left {
    justify-content: flex-end;
}
.navbar-center {
    justify-content: flex-start;
}
.navbar-right {
    justify-content: flex-end;
}
.navbar-menu-item {
    margin-left: 25px;
}
.navbar-img-avatar {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.navbar-user-name {
    margin-left: 8px;
}
.navbar-list-info {
    background-color: #e7e7e7;
    width: 150px;
    border-radius: 3px;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 130%;
    display: none;
}
.navbar-list-info::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e7e7e7;
    position: absolute;
    top: -8px;
    right: 20px;
}
.navbar-user {
    position: relative;
}
.navbar-user::before {
    content: '';
    display: block;
    width: 88%;
    height: 16px;
    position: absolute;
    background: transparent;
    top: 88%;
    right: 0px;
}
.navbar-user:hover .navbar-list-info {
    display: block;
}
.navbar-info-user {
    transition: all 0.3s;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    color: inherit;
}
.navbar-info-user.border-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.navbar-info-user.border-bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.navbar-info-user:hover {
    background-color: #b4b3b3;
}
.navbar-header-img {
    height: 32px;
}
.nav-menu {
    position: relative;
    z-index: 2;
    margin-right: 25px;
}
.nav-menu > .nav-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 11px 5px 11px 0;
    border-bottom: 2px solid transparent;
    /* border-radius: 4px; */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.nav-menu > .nav-list {
    border-top: 2px solid var(--color-white);
    position: absolute;
    top: 98%;
    width: auto;
    max-height: 0;
    overflow: hidden;
    list-style: none;
    background-color: var(--color-white);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 10%);
    min-width: 120px;
    z-index: 2;
}
.nav-menu > .nav-line {
    display: none;
    height: 2px;
    opacity: 0;
}
.nav-menu:hover .nav-label {
    border-color: #5c5c5c;
    color: var(--color-black);
    z-index: 3;
}
.nav-menu:hover > .nav-list {
    border-top: 2px solid #5c5c5c;
    max-height: 100vh;
    transition: max-height 0.7s ease-in;
    background: #fff;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 10%);
    min-width: 120px;
    z-index: 2;
}
.nav-menu:hover > .nav-line {
    display: block;
}
.nav-menu-item-link {
    text-decoration: none;
    padding: 9px 18px;
    white-space: nowrap;
    text-align: left;
    color: var(--color-black);
    border-bottom: 1px solid #ecf0f1;
}
.nav-menu-item-link:hover {
    background-color: #f6f6f6;
}
.navbar-mobile-left {
    display: none;
}
.mobile-user {
    display: none;
}
.mobile-icon {
    font-size: 30px !important;
    display: flex !important;
}
.nav-block {
    justify-content: space-between;
}
