@import 'normalize.css';
/* @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese'); */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese&display=swap'); */

/* @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../src/assets/fonts/Quicksand-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/Quicksand-Bold.ttf') format('truetype');
    font-display: swap;
} */

:root {
    --text-color: #000000;

    --color-active: #5fbd74;

    --default-layout-topbar-height: 50px;
    --default-layout-width: 1140px;
    --default-layout-padding-topbar-spacer: 15px;
    --default-layout-header-height: 140px;

    --header-height: 116px;
    --header-mobile-height: 70px;

    --color-red-comment: #ee4d2d;
    --color-red: red;
    --color-white: #fff;
    --color-black: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    /* font-family: 'Quicksand', sans-serif !important; */
    font-family: 'Open sans', sans-serif !important;

    /* font-family: Arial, Helvetica, sans-serif !important; */

    line-height: 1.4;
    font-size: 14px;
    color: #000000;
    overflow-x: hidden;
    background: #fff;
}

/* width - height */
.w100pt {
    width: 100%;
}
.h100pt {
    height: 100%;
}

/* font */
.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}
.tx-tran {
    text-transform: uppercase;
}
.fz16 {
    font-size: 16px;
}
.fz15 {
    font-size: 15px;
}

/* flex */
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-flex-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.df {
    display: flex;
}
.df.ai {
    align-items: center;
}
.df.jc {
    justify-content: center;
}
.df.flex-direction {
    flex-direction: column;
}
.df.flex-w {
    flex-wrap: wrap;
}

.dib {
    display: inline-block;
}
.db {
    display: block;
}

/* khác */
.cs {
    cursor: pointer;
}

/* bor */
.bd50pt {
    border-radius: 50%;
}

/* margin */
/* .mt30 {
    margin-top: 30px;
} */

.out {
    outline: none;
}
