/* Mobile & tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
        --header-with-search: calc(var(--header-height) - var(--navbar-height));
    }

    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none !important;
    }

    /* .mobile-block {
        display: block;
    } */

    .navbar-mobile-left {
        display: block !important;
    }

    .mobile-user {
        display: block !important;
    }

    .navbar-right {
        margin-right: 15px;
    }

    /* .cart {
        margin-right: 15px;
    } */
    /* 
    .mobile-cart-number {
        top: 4px !important;
        right: 20px !important;
    } */

    .menu {
        margin-left: 15px;
    }

    .navbar-header-img {
        height: 26px !important;
    }

    .navbar-menu-item {
        margin-left: 15px !important;
    }

    .searchs-container {
        height: 32px !important;
        width: 100% !important;
        position: static !important;
    }

    .searchs-input {
        border-radius: 0 !important;
        padding: 10px 40px 8px 10px !important;
        background-color: #f5f5f5 !important;
    }

    .searchs-input:focus {
        background: #ffffff !important;
        outline: none !important;
        border-color: #d1d1d1 !important;
    }

    .navbar-left {
        padding: 5px;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        position: relative;
    }

    .searchs-input::placeholder {
        /* color: red; */
        font-size: 12px !important;
    }

    .searchs-button {
        width: 40px !important;
        background-color: transparent !important;
        color: rgb(112 108 108) !important;
    }

    .searchs-button-close {
        right: 45px !important;
        background-color: transparent !important;
        padding: 0 !important;
        border-radius: 0 !important;
    }

    .button-close-icon {
        font-size: 18px !important;
        opacity: 0.8;
    }

    .searchs-item-main {
        padding: 10px 15px !important;
    }

    .searchs-item-title {
        font-size: 14px !important;
    }

    .navbar-menu-item-link {
        display: block;
        padding: 15px 15px 15px 0;
        margin-left: 15px;
        text-transform: uppercase;
        outline: none;
        border-bottom: 1px solid #eeeeee;
        text-shadow: 0 0 1px rgb(255 255 255 / 10%);
        font-size: 14px !important;
        -webkit-transition: background 0.3s, box-shadow 0.3s;
        -moz-transition: background 0.3s, box-shadow 0.3s;
        transition: background 0.3s, box-shadow 0.3s;
    }

    /* .frame-navbar {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
        background-color: #fff;
    } */

    .slider-top-mobile {
        margin-top: 108px;
    }

    /* .container-product {
        padding: 0 15px;
    } */
    /* 
    .row.no-gutters {
        margin-left: 7;
        margin-right: 0;
    } */

    .product-des-block {
        padding: 8px 0 20px 0 !important;
        text-align: center;
        font-weight: 500;
    }

    .footer-contact-phone {
        padding: 25px 15px !important;
    }

    .footer-frame {
        padding: 0 15px;
    }

    .footer-social-container {
        margin-top: 15px;
    }

    .newsletter-container {
        height: auto !important;
        padding: 0 15px 15px 15px;
        background-color: #c8c8c8 !important;
    }

    .newsletter-input-container {
        width: 60% !important;
        border: none !important;
        position: relative;
    }

    .newsletter-title {
        font-size: 50px !important;
        margin-top: 5px;
        margin-bottom: 0 !important;
    }

    .newsletter-desc {
        font-size: 12px !important;
        margin-bottom: 16px !important;
        text-align: center;
    }

    .newsletter-input {
        padding-left: 10px !important;
        flex: 3 !important;
    }

    .newsletter-button {
        flex: 0 !important;

        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
    }

    .product-price-text,
    .product-title-text {
        font-size: 12px;
    }

    .mobile-block-img {
        display: block !important;
    }

    .register-main {
        box-shadow: none;
        /* margin-top: 108px; */
    }

    .register_title {
        font-size: 34px !important;
    }

    .register_header {
        padding: 30px 15px;
        border-bottom: 1px solid #ededed;
    }

    .register_container {
        padding: 60px 15px !important;
    }

    .email-verify-container {
        padding: 60px 15px !important;
    }

    .email-verify-main {
        box-shadow: none;
        /* margin-top: 108px; */
    }

    .email-verify-title {
        font-size: 34px !important;
    }

    .email-verify-header {
        padding: 30px 15px;
        border-bottom: 1px solid #ededed;
    }

    .login_main {
        box-shadow: none;
        /* margin-top: 108px; */
    }

    .login_title {
        font-size: 34px !important;
    }

    .login_header {
        padding: 30px 15px;
        border-bottom: 1px solid #ededed;
    }

    .login_container {
        padding: 60px 15px !important;
    }

    .register_form input[type='email'],
    .register_form input[type='text'],
    .register_form input[type='password'] {
        width: 100% !important;
    }

    .email-verify-form input[type='email'] {
        width: 100% !important;
    }

    .login_form input[type='email'],
    .login_form input[type='text'],
    .login_form input[type='password'] {
        width: 100% !important;
    }

    .announcement-container {
        padding: 10px 15px 5px !important;
        background-color: transparent !important;
    }

    .title-navba {
        font-size: 11px !important;
    }

    .product-wrapper {
        padding: 20px 0 30px 0 !important;
    }

    .comment {
        padding: 0 15px 20px 15px !important;
    }

    .show-comment {
        padding: 0 10px !important;
    }

    .product-info-container {
        padding: 0 15px !important;
    }

    .product-img-container-block {
        padding: 0 15px !important;
    }

    .product-container {
        padding: 0 15px !important;
    }

    .product-button-buy {
        display: none !important;
    }

    .product-button {
        margin-right: 0px !important;
        font-size: 12px !important;
    }

    .list-product-mobile-frame {
        padding: 0 15px !important;
    }

    .mm {
        margin-top: 15px;
    }

    .list-product-mobile-all {
        flex-direction: column;
        margin-bottom: 30px !important;
        margin-top: 15px !important;
        padding: 0 15px !important;
        align-items: center;
        width: 100% !important;
    }

    .list-product-mobile-filter-container {
        display: none !important;
    }

    .mm {
        max-height: 0px;
        transition: max-height 0.35s ease-in;
        overflow: hidden;
    }

    /* .list-product-mobile {
        visibility: visible !important;
    } */

    .product-list-hidden {
        display: block !important;
    }

    .product-list-mt {
        margin-top: 15px !important;
    }

    .login_error {
        margin-bottom: 5px;
    }

    /* cart */
    .cart-bottom {
        padding-top: 30px !important;
    }

    .cart-info {
        margin-right: 0px !important;
        margin-bottom: 10px !important;
        padding: 20px 0 !important;
    }

    .cart-image {
        width: 70px !important;
        height: 70px !important;
        margin: 0 5px !important;
    }

    .cart-product-price {
        display: none !important;
    }

    .cart-price-detail {
        flex: none !important;
        padding: 0 !important;
        align-items: flex-start !important;
        flex-direction: row !important;
    }

    .cart-detail {
        padding: 0 20px 0 5px !important;
    }

    .cart-product-name {
        font-size: 16px !important;
        margin-bottom: 5px;
    }

    .cart-product-size {
        margin-bottom: 5px !important;
    }

    .cart-summary {
        margin-left: 0px !important;
        padding: 15px !important;
    }

    .cart-summary-item-text1 {
        line-height: 20px;
    }

    .cart-wrapper {
        padding: 35px 15px 20px 15px !important;
    }

    .cart-mobile-frame {
        overflow: hidden;
    }

    /* search - page */
    .search-page-mobile {
        overflow: hidden;
    }

    .search-container {
        padding: 30px 15px 0 15px !important;
    }

    .search-container1 {
        padding-top: 30px !important;
    }

    /* user - profile */
    .user-profile-mobile-frame {
        overflow: hidden;
    }

    .block-profile-form {
        height: auto !important;
    }

    .block-profile-form {
        padding: 0 15px !important;
    }

    .user-profile-container-left {
        margin-right: 0px !important;
        margin-bottom: 30px !important;
    }

    .user-profile-container-right {
        padding: 0 20px !important;
    }

    .user-profile-form {
        padding-top: 20px !important;
    }

    .user-profile-form-left {
        padding-right: 0px !important;
    }

    .user-profile-form-item {
        align-items: flex-start !important;
        flex-direction: column !important;
    }

    .user-profile-form-key,
    .user-profile-form-value {
        width: 100% !important;
        text-align: left !important;
    }

    .user-profile-form-key {
        padding-left: 20px !important;
        margin-bottom: 5px !important;
        font-size: 14px !important;
        font-weight: 600;
    }

    .user-profile-form-save-info-mobile-button {
        display: block !important;
    }

    .user-profile-change-img {
        display: block !important;
    }

    .user-profile-drum {
        padding-bottom: 10px !important;
    }

    /* policy */
    .default-layout-wrapper {
        overflow: hidden;
    }

    .about-wrapper {
        padding: 30px 15px !important;
    }

    .about-container {
        margin-bottom: 30px !important;
    }

    .content-title {
        text-align: center;
    }

    .content-title::after {
        content: '';
        background: #252a2b;
        display: block;
        width: 60px;
        height: 4px;
        margin: 25px auto 0;
    }

    .policy-service-mobile {
        display: inline-block !important;
    }

    .about-underlined {
        display: inline-block !important;
    }

    .about-list {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s;
    }

    .list-check {
        max-height: 140px !important;
    }

    /* change password */
    .change-password-container {
        padding: 30px 15px 0 !important;
    }

    .change-password-more-item {
        margin-bottom: 20px;
    }

    .change-password-background {
        overflow: hidden;
    }

    .change-password-form-left {
        padding-right: 0px !important;
    }

    .change-password-form-item {
        flex-direction: column;
    }

    .change-password-form-value {
        width: 100% !important;
        padding-left: 0px !important;
    }

    .change-password-form-key {
        width: 100% !important;
        text-align: left !important;
        padding-bottom: 5px;
    }

    .change-password-form-save-info {
        margin-left: 0px !important;
        padding: 12px 35px !important;
    }

    /* shipment detail */
    .ship_ment-details-container {
        overflow: hidden;
    }

    .ship_ment-details-container-left {
        padding: 0 15px 15px 15px !important;
    }

    .ship_ment-details-title {
        padding: 21px 15px;
    }

    .ship_ment-details-container-right {
        padding: 0 !important;
        background-color: #fafafa;
    }

    .ship_ment-details-product-list {
        padding: 20px 15px !important;
    }

    .ship_ment-details-img {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .ship_ment-details-img {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .ship_ment-details-price-mobile {
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
    }

    .ship_ment-details-block-mobile-info {
        margin-right: 15px !important;
    }

    .ship_ment-details-details-product:last-child {
        margin-bottom: 0px;
    }

    .ship_ment-details-total-sum {
        border-bottom: 1px solid #e1e1e1;
        padding: 15px !important;
    }

    .ship_ment-details-text-sum {
        font-weight: 500 !important;
    }

    .ship_ment-details-number-price {
        font-size: 22px !important;
    }

    .ship_ment-details-show-mobile {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s;
    }

    .ship_ment-details-show-mobile.show-list {
        max-height: initial;
    }

    .ship_ment-details-text-title {
        font-weight: 500 !important;
        color: #333 !important;
        margin-top: 20px !important;
    }

    .ship_ment-details-info-user {
        width: 100% !important;
    }

    .ship_ment-details-payment-method {
        margin-top: 10px !important;
        width: 100% !important;
    }

    .ship_ment-details-payment-name {
        padding: 0px 40px !important;
    }

    .ship_ment-details-payment-paypal {
        height: 30px !important;
    }

    .ship_ment-details-block-button {
        width: 100% !important;
        padding-left: 10px;
    }
}
