.title-navba {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
}
.none {
    opacity: 0.5;
    cursor: initial;
}
.line1 {
    margin-left: 10px;
    margin-right: 10px;
}
.announcement-container {
    height: 40px;
    background-color: #f5f5f5;
    font-weight: 500;
    font-size: 14px;
}
