.title-navba {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
}

.title-home-page {
}

.title-item {
}

.none {
    opacity: 0.5;
    cursor: initial;
}
/* 
.title-item::before {
    content: '/';
    margin-left: 10px;
    margin-right: 10px;
} */

.line1 {
    margin-left: 10px;
    margin-right: 10px;
}

.announcement-container {
    height: 40px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
}
