.slider-container {
    width: 100%;
    position: relative;
}
/* .position {
    position: relative;
} */
.button-arrow {
    width: 50px;
    height: 50px;
    background-color: #7a7a7a;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.5;
    z-index: 2;
}
.button-arrow.left:hover,
.button-arrow.right:hover {
    opacity: 0.8;
}
.icon-btn {
    font-size: 30px !important;
    color: var(--color-white);
}
.button-arrow.left {
    left: 30px;
}
.button-arrow.right {
    right: 30px;
}
.img-container {
    height: 100%;
}
.img-item {
    vertical-align: middle;
    max-width: 100%;
    display: block;
    width: auto !important;
    text-align: center;
    margin: auto;
    overflow: hidden;
    height: 100%;
}
/* .mobile-block-img {
    margin-bottom: 20px;
    display: none;
} */
/* .mobile-img-slider {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
} */
/* test */
.fullscreen-slider {
    position: relative;
    height: 100%;
    overflow: hidden;
    /* thêm margin-top để giảm khoảng cách slider điều chỉnh lại vị trí thêm margin cho nút */
    margin-top: -20px;
}
.fullscreen-slider .slide-nav {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
}
.fullscreen-slider .slide-nav.left {
    left: 0;
}
.fullscreen-slider .slide-nav.right {
    right: 0;
}
